<%- include("partials/header") %>

<form action="" method="post">
    <h2>Signup</h2>

    <label for="username">Username</label>
    <input type="text" name="username" required>

    <label for="email">Email</label>
    <input type="email" name="email" required>

    <label for="password">Password</label>
    <input type="password" name="password" required>

    <button>Signup</button>
</form>